{% extends "list.html" %}
{% block content %}
<style>
    .textarea{
        display: block;
        width: 100%;
        min-height: 230px;
        resize: none;
        padding: 20px;
        color: #202020;
        border: 2px solid #3ba51f;
        border-radius: 5px;
        outline: none;
    }
    .result{
        width: 100%;
        text-align: right;
        margin-top: -30px;
        padding-right: 10px;
        color: #737373;
    }
    .bnt {
        display: block;
        width: 150px;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        background: #3ba51f;
        border-radius: 5px;
        text-align: center;
        line-height: 35px;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 10px; /* Добавлено для отступа сверху */
    }
</style>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Отправка сообщения</h3>
        </div>
        <form id="messageForm" action="/pages/send_message/" method="post">
            <div class="form-group">
                <textarea id="message" rows="5" name="message" class="textarea" placeholder="Введите сообщение"></textarea>
                <p class="result"></p>
            </div>
            <div class="form-group p-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="showInput" onclick="showHideInput()">
                    <label class="form-check-label" for="showInput">
                        Показать дополнительное поле для ввода
                    </label>
                </div>

                <input type="text"
                       id="extraInput"
                       class="form-control mt-2"
                       style="display: none;"
                       placeholder="Введите ссылку">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="vendor" checked>
                    <label class="form-check-label" for="vendor">
                        Отправить продавцам
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="support">
                    <label class="form-check-label" for="support">
                        Отправить саппортам
                    </label>
                </div>


            </div>
            <div class="form-group p-3">
                <input type="submit" class="bnt" value="Отправить">
            </div>
        </form>
    </div>
</div>
    <!-- Обновленное модальное окно -->
    <div class="modal fade" id="beautifulModal" tabindex="-1" aria-labelledby="beautifulModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="beautifulModalLabel">Уведомление</h5>
<!--                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body bg-light text-dark">
                <p id="modalMessage">Сообщение успешно отправлено!</p>
            </div>
<!--            <div class="modal-footer bg-secondary">-->
<!--                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата Отправки</th>
                <th scope="col">Кому</th>
                <th scope="col">Доставлено</th>
            </tr>
        </thead>
        <tbody>
            {% for data in users_count %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.created_at }}</td>
                <td>{{ data.forWhom }}</td>
                <td>{{ data.countMessageAdmin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>

    function validateArea(){
        const textarea = document.querySelector(".textarea")
        const result = document.querySelector(".result")
        const bnt = document.querySelector(".bnt")

        const limit = 4096

        result.textContent = `0 / ${limit}`

        textarea.addEventListener('input', () => {
            const texLength = textarea.value.length
            result.textContent = `${texLength} / ${limit}`

            if (texLength > limit){
                textarea.style.borderColor = "#ff2851"
                result.style.color = "#ff2851"
                bnt.disabled = true
                bnt.style.background = "#ff2851"
            }else {
                textarea.style.borderColor = "#31821b"
                result.style.color = "#31821b"
                bnt.style.background = "#3ba51f"
                bnt.disabled = false
            }
        })

    }
    validateArea()

    function showHideInput() {
        let checkBox = document.getElementById("showInput");
        let text = document.getElementById("extraInput");
        if (checkBox.checked === true){
            text.style.display = "block";
        } else {
            text.style.display = "none";
            text.value = ""
        }
    }

</script>
<script>
        // Получите модальное окно
        let modal = document.getElementById('beautifulModal');
        // Получите элемент <button>, который закрывает модальное окно
        let btnClose = document.querySelector('.btn-close');

        let form = document.getElementById('messageForm');
        let extraInput = document.getElementById('extraInput');
        let modalMessage = document.getElementById('modalMessage');

        // Функция для отображения модального окна с заданным сообщением
        function showModal(message) {
            modalMessage.textContent = message;
            let myModal = new bootstrap.Modal(document.getElementById('beautifulModal'));
            myModal.show();
        }

        // Функция для проверки валидности URL
        function isValidURL(string) {
            let res = string.match(/(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/);
            return (res !== null)
        }

        // Обработчик отправки формы
        form.onsubmit = function(event) {
            event.preventDefault(); // Предотвратить стандартное поведение формы
            let extraInput = document.getElementById('extraInput').value;
            if (extraInput && !isValidURL(extraInput)) {
                showModal('Ошибка: недействительный URL');
                console.error('Ошибка: недействительный URL');
            } else {
                let selectedOption = document.querySelector('input[name="options"]:checked').id;
                console.log(selectedOption); // Вывести выбранный вариант в консоль
                let formData = new FormData(form);
                formData.append('extraInput', extraInput);
                formData.append('selectedOption', selectedOption);
                fetch('/pages/send_message/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Вывести ответ сервера в консоль
                    showModal('Сообщение успешно отправлено!');
                })
                .catch(error => console.error('Ошибка:', error));
            }
        };

        // Закрыть модальное окно при нажатии на <button> (x)
        btnClose.onclick = function() {
            let myModal = bootstrap.Modal.getInstance(modal);
            myModal.hide();
        };
    </script>

{% endblock %}