{% extends 'list.html' %}

{% block content %}
<style>
    .containers {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

</style>




<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Активные пользователи</h3>
        </div>

        <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Сегодня</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Неделя</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Месяц</label>
        </div>


        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">

                <div class="containers">
                    <h1>Статистика</h1>
                    <div class="chart-container">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="containers">
                    <h1>Статистика</h1>
                    <div class="chart-container">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>

            </div>
          </div>
        </div>


    </div>

</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let ctx = document.getElementById('chart1').getContext('2d');
    let ctx2 = document.getElementById('chart2').getContext('2d');

    var myPieChart = new Chart(ctx, {
        type: 'pie', // тип диаграммы: круговая
        data: {
            // Данные для диаграммы
            labels: ['Категория 1', 'Категория 2'],
            datasets: [{
                data: [10, 20], // значения для каждой категории
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)', // розовый
                    'rgba(54, 162, 235, 0.6)', // синий
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // розовый
                    'rgba(54, 162, 235, 1)', // синий
                ],
                borderWidth: 1 // толщина границы
            }]
        },
        options: {
            // Настройки диаграммы
            responsive: true, // диаграмма будет адаптивной
            title: {
                display: true,
                text: 'Пример круговой диаграммы с отображением значений'
            },
            tooltips: {
                enabled: true, // включаем всплывающие подсказки
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem, data) {
                        // Форматируем текст подсказки
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        label += data.datasets[0].data[tooltipItem.index];
                        return label;
                    }
                }
            }
        }
    });

    var myPieChart = new Chart(ctx2, {
        type: 'pie', // тип диаграммы: круговая
        data: {
            // Данные для диаграммы
            labels: ['Категория 1', 'Категория 2'],
            datasets: [{
                data: [10, 20], // значения для каждой категории
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)', // розовый
                    'rgba(54, 162, 235, 0.6)', // синий
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // розовый
                    'rgba(54, 162, 235, 1)', // синий
                ],
                borderWidth: 1 // толщина границы
            }]
        },
        options: {
            // Настройки диаграммы
            responsive: true, // диаграмма будет адаптивной
            title: {
                display: true,
                text: 'Пример круговой диаграммы с отображением значений'
            },
            tooltips: {
                enabled: true, // включаем всплывающие подсказки
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem, data) {
                        // Форматируем текст подсказки
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        label += data.datasets[0].data[tooltipItem.index];
                        return label;
                    }
                }
            }
        }
    });
</script>
{% endblock %}

