{% extends 'list.html' %}

{% block content %}
<style>
    .containers {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

</style>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Диалоги</h3>
        </div>


        <div class="btn-group" role="group" aria-label="">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Сегодня</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Неделя</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Месяц</label>
        </div>

        <table class="table" style="margin-top: 50px">
        <thead>
            <tr>
                <th scope="col">Всего диалогов</th>
                <th scope="col">Открыто диалогов</th>
                <th scope="col">Закрыто</th>
                <th scope="col">Средняя оценка Продавца</th>
                <th scope="col">Средняя оценка Саппорта</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="allDialogs">{{ allDialogs }}</td>
                <td id="openDialogs">{{ openDialogs }}</td>
                <td id="closeDialogs">{{ closeDialogs }}</td>
                <td id="gradeUser">{{ gradeUser }}</td>
                <td id="gradeAdmin">{{ gradeAdmin }}</td>
            </tr>
        </tbody>
    </table>


        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">

                <div class="containers">
                    <h1>Диалоги</h1>
                    <div class="chart-container">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="containers">
                    <h1>Средняя оценка</h1>
                    <div class="chart-container">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>

            </div>
          </div>
        </div>


    </div>

</div>




<script>

    function updateData(url) {
      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error('Сетевой ответ не окей');
          }
          return response.json();
        })
        .then(data => {
          // Обновление данных в элементах таблицы
          document.getElementById("allDialogs").textContent = data.allDialogs;
          document.getElementById("openDialogs").textContent = data.openDialogs;
          document.getElementById("closeDialogs").textContent = data.closeDialogs;
          document.getElementById("gradeUser").textContent = data.gradeUser;
          document.getElementById("gradeAdmin").textContent = data.gradeAdmin;

          openDialogs = Number(data.openDialogs);
          closeDialogs = Number(data.closeDialogs);

          gradeUser = Number(data.gradeUser);
          gradeAdmin = Number(data.gradeAdmin);

          // Обновление данных диаграммы
          myPieChart.data.datasets[0].data = [openDialogs, closeDialogs];
          myPieChart1.data.datasets[0].data = [gradeUser, gradeAdmin];
          myPieChart.update(); // Обновление диаграммы
          myPieChart1.update(); // Обновление диаграммы
        })
        .catch(error => console.error('Ошибка:', error));
    }

    // Пример использования функции для кнопки "Сегодня"
    document.getElementById('btnradio1').addEventListener('click', function() {
      updateData('/admin_view/today/');
    });

    // Пример использования функции для кнопки "Неделя"
    document.getElementById('btnradio2').addEventListener('click', function() {
      updateData('/admin_view/week/');
    });

    document.getElementById('btnradio3').addEventListener('click', function() {
      updateData('/admin_view/month/');
    });




</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let openDialogs = "{{ openDialogs | tojson }}";
    let closeDialogs = "{{ closeDialogs | tojson }}";

    let gradeUser = "{{ gradeUser | tojson }}";
    let gradeAdmin = "{{ gradeAdmin | tojson }}";

    let ctx = document.getElementById('chart1').getContext('2d');
    let ctx2 = document.getElementById('chart2').getContext('2d');


    // function updateData(url) {
    //   fetch(url)
    //     .then(response => response.json())
    //     .then(data => {
    //       openDialogs = Number(data.openDialogs); // Преобразование в число
    //       closeDialogs = Number(data.closeDialogs); // Преобразование в число
    //
    //       // Обновление данных диаграммы
    //       myPieChart.data.datasets[0].data = [openDialogs, closeDialogs];
    //       myPieChart.update(); // Обновление диаграммы
    //     });
    // }
    //
    // document.getElementById('btnradio1').addEventListener('click', function() {
    //   updateData('/admin_view/today/');
    // });
    //
    // // Пример использования функции для кнопки "Неделя"
    // document.getElementById('btnradio2').addEventListener('click', function() {
    //   updateData('/admin_view/week/');
    // });
    //
    // document.getElementById('btnradio3').addEventListener('click', function() {
    //   updateData('/admin_view/month/');
    // });
    var myPieChart = new Chart(ctx, {
        type: 'pie', // тип диаграммы: круговая
        data: {
            // Данные для диаграммы
            labels: ['Открыто', 'Закрыто'],
            datasets: [{
                data: [openDialogs, closeDialogs], // значения для каждой категории
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)', // розовый
                    'rgba(54, 162, 235, 0.6)', // синий
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // розовый
                    'rgba(54, 162, 235, 1)', // синий
                ],
                borderWidth: 1 // толщина границы
            }]
        },
        options: {
            // Настройки диаграммы
            responsive: true, // диаграмма будет адаптивной
            title: {
                display: true,
                text: 'Пример круговой диаграммы с отображением значений'
            },
            tooltips: {
                enabled: true, // включаем всплывающие подсказки
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem, data) {
                        // Форматируем текст подсказки
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        label += data.datasets[0].data[tooltipItem.index];
                        return label;
                    }
                }
            }
        }
    });

    var myPieChart1 = new Chart(ctx2, {
        type: 'pie', // тип диаграммы: круговая
        data: {
            // Данные для диаграммы
            labels: ['Саппорт', 'Админ'],
            datasets: [{
                data: [gradeUser, gradeAdmin], // значения для каждой категории
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)', // розовый
                    'rgba(54, 162, 235, 0.6)', // синий
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // розовый
                    'rgba(54, 162, 235, 1)', // синий
                ],
                borderWidth: 1 // толщина границы
            }]
        },
        options: {
            // Настройки диаграммы
            responsive: true, // диаграмма будет адаптивной
            title: {
                display: true,
                text: 'Пример круговой диаграммы с отображением значений'
            },
            tooltips: {
                enabled: true, // включаем всплывающие подсказки
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(tooltipItem, data) {
                        // Форматируем текст подсказки
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        label += data.datasets[0].data[tooltipItem.index];
                        return label;
                    }
                }
            }
        }
    });
</script>
{% endblock %}

