{% extends 'list.html' %}

{% block content %}
<style>
    .containers {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

</style>


<div class="containers">
    <h1>Статистика</h1>
    <div class="chart-container">
        <canvas id="chart1"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('chart1').getContext('2d');
    const chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['12 Ноя', '13 Ноя', '14 Ноя', '15 Ноя', '16 Ноя', '17 Ноя', '18 Ноя', '19 Ноя', '20 Ноя', '21 Ноя', '22 Ноя', '23 Ноя', '24 Ноя', '25 Ноя', '26 Ноя', '27 Ноя', '28 Ноя', '29 Ноя', '30 Ноя', '1 Дек', '2 Дек', '3 Дек', '4 Дек', '5 Дек', '6 Дек', '7 Дек', '8 Дек', '9 Дек', '10 Дек', '11 Дек'],
        datasets: [{
            label: 'Количество просмотров',
            data: [1, 2, 1.5, 3, 4, 3.5, 3, 2.5, 2, 1, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 3.5, 3, 2.5, 2, 1.5, 1, 0.5, 1, 1.5, 2, 2.5, 3], // Замените эти данные на ваши реальные значения
            backgroundColor: 'rgba(0, 0, 0, 0.1)',
            borderColor: 'rgba(0, 0, 0, 1)',
            borderWidth: 1,
            pointBackgroundColor: 'rgba(0, 0, 0, 1)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgba(0, 0, 0, 1)'
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        tooltips: {
            mode: 'index',
            intersect: false
        },
        hover: {
            mode: 'nearest',
            intersect: true
        }
    }
});
</script>
{% endblock %}

